{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>chat</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'djangoapp/chatstyle.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
</head>

<body>
{% for chat in all_chats %}
    <p>{{ chat }}</p>
{% endfor %}
<div class="container clearfix">
    <div class="people-list" id="people-list">
        <div class="search">
            <input type="text" placeholder="search"/>
            <i class="fa fa-search"></i>
        </div>
        <ul id="change_hover" class="list">
            <li class="clearfix">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar"/>
                <div class="about">
                    <div class="name">Vincent Porter</div>
                    <div class="status">
                        <i class="fa fa-circle online"></i> online
                    </div>
                </div>
            </li>

            <li class="clearfix">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_02.jpg" alt="avatar"/>
                <div class="about">
                    <div class="name">Aiden Chavez</div>
                    <div class="status">
                        <i class="fa fa-circle offline"></i> left 7 mins ago
                    </div>
                </div>
            </li>
            <li class="clearfix">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_08.jpg" alt="avatar"/>
                <div class="about">
                    <div class="name">Monica Ward</div>
                    <div class="status">
                        <i class="fa fa-circle online"></i> online
                    </div>
                </div>
            </li>
            <li class="clearfix">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_10.jpg" alt="avatar"/>
                <div class="about">
                    <div class="name">Peyton Mckinney</div>
                    <div class="status">
                        <i class="fa fa-circle online"></i> online
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="chat">
        <div class="chat-header clearfix">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar"/>

            <div class="chat-about">
                <div class="chat-with">Chat with Vincent Porter</div>
                <div class="chat-num-messages">already 1 902 messages</div>
            </div>
            <i class="fa fa-star"></i>
        </div> <!-- end chat-header -->

        <div class="chat-history" id="chat">
            <ul id="unordered_list_id">
                <li class="clearfix">
                    <div class="message-data align-right">
                        <span class="message-data-time">10:10 AM, Today</span> &nbsp; &nbsp;
                        <span class="message-data-name">You</span> <i class="fa fa-circle me"></i>

                    </div>
                    <div class="message other-message float-right">
                        Hi Vincent, how are you? How is the project coming along?
                    </div>
                </li>
                <li>
                    <div class="message-data">
                        <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                        <span class="message-data-time">10:12 AM, Today</span>
                    </div>
                    <div class="message my-message">
                        Are we meeting today? Project has been already finished and I have results to show you.
                    </div>
                </li>


            </ul>

        </div> <!-- end chat-history -->

        <div class="chat-message clearfix">
            <textarea name="message-to-send" id="message-to-send"
                      placeholder="Type your message" rows="3"></textarea>

            <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
            <i class="fa fa-file-image-o"></i>

            <button>Send</button>

        </div> <!-- end chat-message -->

    </div> <!-- end chat -->

</div> <!-- end container -->
<script>
    let get_ul = document.getElementById("change_hover").children;
    let get_names = document.getElementsByClassName("name");
    console.log(get_ul);
    for (let i = 0; i < get_ul.length; i++) {
        get_ul[i].onmouseover = () => {
            get_ul[i].style.cursor = "pointer";
            get_names[i].style.color = "#c2ef0b";
        }
        get_ul[i].onmouseout = () => {
            get_names[i].style.color = "white";
        }
        console.log(i);
    }
</script>
<script>
    $(document).ready(function () {
        let MyBlah = function () {
            let date = new Date();
            let find_ul = document.getElementById("unordered_list_id");
            let make_li = document.createElement('li');
            make_li.className = "clearfix";
            let make_div = document.createElement('div');
            make_div.className = "message-data align-right";
            let make_first_span = document.createElement('span');
            make_first_span.className = "message-data-time";
            make_first_span.innerHTML = `${date.getHours()}:${date.getMinutes()}, Today  `;
            let make_second_span = document.createElement('span');
            make_second_span.className = "message-data-name";
            make_second_span.innerHTML = "You";
            let make_i = document.createElement('i');
            make_i.className = "fa fa-circle me";
            let make_another_div = document.createElement('div');
            make_another_div.className = "message other-message float-right";
            let get_input_tag = document.getElementById("message-to-send");
            make_another_div.innerHTML = get_input_tag.value;
            get_input_tag.value = "";
            make_div.innerHTML = make_first_span.outerHTML + make_second_span.outerHTML;
            make_li.innerHTML = make_div.outerHTML + make_another_div.outerHTML;
            find_ul.append(make_li);
            let element = document.getElementById("chat");
            element.scrollTop = element.scrollHeight;
        };
        $("#message-to-send").keyup((e) => {
            if (e.key == "Enter") {
                $.ajax({
                    method: 'POST',
                    url: '/djangoapp/appendchat',
                    data: {
                        msg_ajax: $('#message-to-send').val(),
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function () {
                        console.log('Data Successfully Posted');
                        MyBlah();
                        change();
                    },
                });
            }
        })
        let change = function () {
            $.ajax({
                method: 'GET',
                url: '/djangoapp/chat',
                data: {
                    sth: 0,
                },
                success: function (data) {
                    console.log(data);
                }
            })
        }
        var searchFilter = {
            options: {valueNames: ['name']},
            init: function () {
                var userList = new List('people-list', this.options);
                var noItems = $('<li id="no-items-found">No items found</li>');

                userList.on('updated', function (list) {
                    if (list.matchingItems.length === 0) {
                        $(list.list).append(noItems);
                    } else {
                        noItems.detach();
                    }
                });
            }
        };
        searchFilter.init();
    });
</script>

</body>

</html>