{% extends 'djangoapp/layout.html' %}
{% load static %}
{% block head %}
    <link href='https://fonts.googleapis.com/css?family=Wire+One|Raleway:300' rel='stylesheet' type='text/css'>
    <style>


        .carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__prev > label:nth-child(5), .carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__next > label:nth-child(2), .carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__prev > label:nth-child(1), .carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__next > label:nth-child(3), .carousel > input[type="radio"]:nth-child(3):checked ~ .carousel__prev > label:nth-child(2), .carousel > input[type="radio"]:nth-child(3):checked ~ .carousel__next > label:nth-child(4), .carousel > input[type="radio"]:nth-child(4):checked ~ .carousel__prev > label:nth-child(3), .carousel > input[type="radio"]:nth-child(4):checked ~ .carousel__next > label:nth-child(5), .carousel > input[type="radio"]:nth-child(5):checked ~ .carousel__prev > label:nth-child(4), .carousel > input[type="radio"]:nth-child(5):checked ~ .carousel__next > label:nth-child(1) {
            opacity: 1 !important;
            z-index: 3;
        }


        .container {
            width: 900px;
            min-width: 900px;

        {#margin: 50px auto;#} margin-left: 3%;

        }

        .carousel {
            width: 100%;
            position: relative;
            overflow: hidden;
            border-radius: 8px;
        }

        .carousel > input[type="radio"] {
            position: absolute;
            left: 0;
            opacity: 0;
            top: 0;
        }

        .carousel > input[type="radio"]:checked ~ .carousel__items .carousel__item, .carousel > input[type="radio"]:checked ~ .carousel__prev > label, .carousel > input[type="radio"]:checked ~ .carousel__next > label {
            opacity: 0;
        }

        .carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__items .carousel__item:nth-child(1) {
            opacity: 1;
        }

        .carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__nav > label:nth-child(1) {
            background: #ccc;
            cursor: default;
            pointer-events: none;
        }

        .carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__items .carousel__item:nth-child(2) {
            opacity: 1;
        }

        .carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__nav > label:nth-child(2) {
            background: #ccc;
            cursor: default;
            pointer-events: none;
        }

        .carousel > input[type="radio"]:nth-child(3):checked ~ .carousel__items .carousel__item:nth-child(3) {
            opacity: 1;
        }

        .carousel > input[type="radio"]:nth-child(3):checked ~ .carousel__nav > label:nth-child(3) {
            background: #ccc;
            cursor: default;
            pointer-events: none;
        }

        .carousel > input[type="radio"]:nth-child(4):checked ~ .carousel__items .carousel__item:nth-child(4) {
            opacity: 1;
        }

        .carousel > input[type="radio"]:nth-child(4):checked ~ .carousel__nav > label:nth-child(4) {
            background: #ccc;
            cursor: default;
            pointer-events: none;
        }

        .carousel > input[type="radio"]:nth-child(5):checked ~ .carousel__items .carousel__item:nth-child(5) {
            opacity: 1;
        }

        .carousel > input[type="radio"]:nth-child(5):checked ~ .carousel__nav > label:nth-child(5) {
            background: #ccc;
            cursor: default;
            pointer-events: none;
        }

        .carousel__items {
            margin: 0;
            padding: 0;
            list-style-type: none;
            width: 100%;
            height: 500px;
            position: relative;
        }

        .carousel__item {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            transition: opacity 2s;
            -webkit-transition: opacity 2s;
            {#padding: 20px;#}
            border: 1px solid #2a3cad;
            border-radius: 4px;
            box-shadow: 0px 0px 5px #2a3cad;
        }

        .carousel__item img {
            width: 100%;
            vertical-align: middle;
        }

        .carousel__prev > label, .carousel__next > label {
            border: 1px solid #fff;
            border-radius: 50%;
            cursor: pointer;
            display: block;
            width: 40px;
            height: 40px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            opacity: 0;
            z-index: 2;
        }

        .carousel__prev > label:hover, .carousel__next > label:hover, .carousel__prev > label:focus, .carousel__next > label:focus {
            opacity: 0.5 !important;
        }

        .carousel__prev > label:before, .carousel__next > label:before, .carousel__prev > label:after, .carousel__next > label:after {
            content: "";
            position: absolute;
            width: inherit;
            height: inherit;
        }

        .carousel__prev > label:before, .carousel__next > label:before {
            background: linear-gradient(to top, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%), linear-gradient(to left, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%);
            width: 60%;
            height: 60%;
            top: 20%;
        }

        .carousel__prev > label {
            left: 2%;
        }

        .carousel__prev > label:before {
            left: 35%;
            top: 20%;
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
        }

        .carousel__next > label {
            right: 2%;
        }

        .carousel__next > label:before {
            left: 10%;
            transform: rotate(315deg);
            -webkit-transform: rotate(315deg);
        }

        .carousel__nav {
            position: absolute;
            bottom: 3%;
            left: 0;
            text-align: center;
            width: 100%;
            z-index: 3;
        }

        .carousel__nav > label {
            border: 1px solid #fff;
            display: inline-block;
            border-radius: 50%;
            cursor: pointer;
            margin: 0 0.125%;
            width: 20px;
            height: 20px;
        }

        {#    divideer#}
        .split-layout {
            display: flex;
            flex-direction: column;
        }

        @media screen and (min-width: 30em) {
            .split-layout {
                flex-direction: row;
                align-items: stretch;
            }
        }

        .split-layout__item {
            flex: 1;
        }

        @media screen and (min-width: 30em) {
            .split-layout__item {
                padding-left: 1em;
            }

            .split-layout__item:first-child {
                padding: 0;
            }
        }

        .split-layout__divider {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        @media screen and (min-width: 30em) {
            .split-layout__divider {
                flex-direction: column;
            }
        }

        .split-layout__label {
            padding: 1em;
        }

        .split-layout__rule {
            flex: 1;
            border-style: solid;
            border-color: rgba(255, 255, 255, .3);
            border-width: 1px 0 0 0;
        }

        @media screen and (min-width: 30em) {
            .split-layout__rule {
                border-width: 0 1px 0 0;
            }
        }

        /* =DEMO STYLES --------------------------------------------------------------------*/
        .wrapper {
            padding: 2em;
            background: #0f0f10;
            color: #fff;
        }

        {#    go but#}
        @import url('https://fonts.googleapis.com/css?family=Montserrat:900');


        #wrapper {
        {#width: 100vw;#}{#height: 100vh;#} box-sizing: border-box;
            display: flex;
        {#align-items: center;#} justify-content: center;
        }

        .my-super-cool-btn {
            position: relative;
            text-decoration: none;
        {#color: #fff;#} letter-spacing: 1px;
            font-size: 2rem;
            box-sizing: border-box;
        }

        .my-super-cool-btn span {
            position: relative;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 200px;
        }

        .my-super-cool-btn span:before {
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            border-radius: 100%;
            border: 7px solid #007bb6;
            box-sizing: border-box;
            transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);
            box-shadow: 0 30px 85px rgba(0, 0, 0, 0.14), 0 15px 35px rgba(0, 0, 0, 0.14);
        }

        .my-super-cool-btn:hover span:before {
            transform: scale(0.8);
            box-shadow: 0 20px 55px rgba(0, 0, 0, 0.14), 0 15px 35px rgba(0, 0, 0, 0.14);
        }

        .my-super-cool-btn .dots-container {
            opacity: 0;
            animation: intro 1.6s;
            animation-fill-mode: forwards;
        }

        .my-super-cool-btn .dot {
            width: 8px;
            height: 8px;
            display: block;
            background-color: #F1C61B;
            border-radius: 100%;
            position: absolute;
            transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);
        }

        .my-super-cool-btn .dot:nth-child(1) {
            top: 50px;
            left: 50px;
            transform: rotate(-140deg);
            animation: swag1-out 0.3s;
            animation-fill-mode: forwards;
            opacity: 0;
        }

        .my-super-cool-btn .dot:nth-child(2) {
            top: 50px;
            right: 50px;
            transform: rotate(140deg);
            animation: swag2-out 0.3s;
            animation-fill-mode: forwards;
            opacity: 0;
        }

        .my-super-cool-btn .dot:nth-child(3) {
            bottom: 50px;
            left: 50px;
            transform: rotate(140deg);
            animation: swag3-out 0.3s;
            animation-fill-mode: forwards;
            opacity: 0;
        }

        .my-super-cool-btn .dot:nth-child(4) {
            bottom: 50px;
            right: 50px;
            transform: rotate(-140deg);
            animation: swag4-out 0.3s;
            animation-fill-mode: forwards;
            opacity: 0;
        }

        .my-super-cool-btn:hover .dot:nth-child(1) {
            animation: swag1 0.3s;
            animation-fill-mode: forwards;
        }

        .my-super-cool-btn:hover .dot:nth-child(2) {
            animation: swag2 0.3s;
            animation-fill-mode: forwards;
        }

        .my-super-cool-btn:hover .dot:nth-child(3) {
            animation: swag3 0.3s;
            animation-fill-mode: forwards;
        }

        .my-super-cool-btn:hover .dot:nth-child(4) {
            animation: swag4 0.3s;
            animation-fill-mode: forwards;
        }

        @keyframes intro {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        @keyframes swag1 {
            0% {
                top: 50px;
                left: 50px;
                width: 8px;
            }
            50% {
                width: 30px;
                opacity: 1;
            }
            100% {
                top: 20px;
                left: 20px;
                width: 8px;
                opacity: 1;
            }
        }

        @keyframes swag1-out {
            0% {
                top: 20px;
                left: 20px;
                width: 8px;
            }
            50% {
                width: 30px;
                opacity: 1;
            }
            100% {
                top: 50px;
                left: 50px;
                width: 8px;
                opacity: 0;
            }
        }

        @keyframes swag2 {
            0% {
                top: 50px;
                right: 50px;
                width: 8px;
            }
            50% {
                width: 30px;
                opacity: 1;
            }
            100% {
                top: 20px;
                right: 20px;
                width: 8px;
                opacity: 1;
            }
        }

        @keyframes swag2-out {
            0% {
                top: 20px;
                right: 20px;
                width: 8px;
            }
            50% {
                width: 30px;
                opacity: 1;
            }
            100% {
                top: 50px;
                right: 50px;
                width: 8px;
                opacity: 0;
            }
        }

        @keyframes swag3 {
            0% {
                bottom: 50px;
                left: 50px;
                width: 8px;
            }
            50% {
                width: 30px;
                opacity: 1;
            }
            100% {
                bottom: 20px;
                left: 20px;
                width: 8px;
                opacity: 1;
            }
        }

        @keyframes swag3-out {
            0% {
                bottom: 20px;
                left: 20px;
                width: 8px;
            }
            50% {
                width: 30px;
                opacity: 1;
            }
            100% {
                bottom: 50px;
                left: 50px;
                width: 8px;
                opacity: 0;
            }
        }

        @keyframes swag4 {
            0% {
                bottom: 50px;
                right: 50px;
                width: 8px;
            }
            50% {
                width: 30px;
                opacity: 1;
            }
            100% {
                bottom: 20px;
                right: 20px;
                width: 8px;
                opacity: 1;
            }
        }

        @keyframes swag4-out {
            0% {
                bottom: 20px;
                right: 20px;
                width: 8px;
            }
            50% {
                width: 30px;
                opacity: 1;
            }
            100% {
                bottom: 50px;
                right: 50px;
                width: 8px;
                opacity: 0;
            }
        }

        {#    divider#}

        .colour-block {
            background: #40639B;
        {#width: 60%;#} padding: 7% 20% 10% 20%;
            color: #fff;
        }

        .white-block3 {
            background: #fff;
        {#width: 60%;#} padding: 5%;
            color: #40639B;
        }

        h1 {
            text-align: center;
            font-size: 80px;
            font-family: 'wire one', serif;
            font-weight: normal;
        }

        p {
            font-size: 20px;
            font-family: 'Raleway', serif;
        }


        /*------------*/
        /* ARROW DOWN */
        /*------------*/
        .arrow-down {
            height: 100px;
        }

        .arrow-down:before {
            content: "";
            position: absolute;
            left: 0px;
            width: 50%;
            height: 100px;
            background: linear-gradient(to left bottom, #40639B 49%, #fff 50%);
        }

        .arrow-down:after {
            content: "";
            position: absolute;
            right: 0px;
            width: 50%;
            height: 100px;
            background: linear-gradient(to right bottom, #40639B 49%, #fff 50%);
        }


        /*------------*/
        /* ARROW UP   */
        /*------------*/
        .arrow-up {
            height: 100px;
        }

        .arrow-up:before {
            content: "";
            position: absolute;
            left: 0px;
            width: 50%;
            height: 100px;
            background: linear-gradient(to right bottom, #fff 49%, #40639B 50%);
        }

        .arrow-up:after {
            content: "";
            position: absolute;
            right: 0px;
            width: 50%;
            height: 100px;
            background: linear-gradient(to left bottom, #fff 49%, #40639B 50%);
        }
        @media all and (max-width:700px){
            .container
            {
                display: none;
            }
        }

    </style>

{% endblock %}

{% block body %}
    <div style="background-color: #c5ead2;padding: 1%;">
        <p style="width: 25%; float: right;margin: 5%"> fdgsdgfsdg fsd</p>

        <div class="container" \>
            <div class="carousel">
                <input type="radio" id="carousel-1" name="carousel[]" checked>
                <input type="radio" id="carousel-2" name="carousel[]">
                <input type="radio" id="carousel-3" name="carousel[]">
                <input type="radio" id="carousel-4" name="carousel[]">
                <input type="radio" id="carousel-5" name="carousel[]">
                <ul class="carousel__items">
                    <li class="carousel__item"><img height="500px"
                                                    src={% static 'djangoapp/illustration_cover.png' %}
                                                            alt=""></li>
                    <li class="carousel__item"><img height="500px"
                                                    src={% static 'djangoapp/freelancer-job-professional-digital-nomad-indore-png-favpng-iS3JgfScmWiVR3zCWp6bw2vdE.jpg' %};
                                                    alt=""></li>
                    <li class="carousel__item"><img height="500px"
                                                    src={% static 'djangoapp/9442search-Bilingual-Translation-Jobs.jpg' %}
                                                            alt=""></li>
                    <li class="carousel__item"><img height="500px"
                                                    src={% static 'djangoapp/20180111134829-freelance-2906725-1920.png' %}
                                                            alt=""></li>
                    <li class="carousel__item"><img height="500px"
                                                    src={% static 'djangoapp/bootstrap-stack.png' %}
                                                            alt=""></li>
                </ul>
                <div class="carousel__prev">
                    <label for="carousel-1"></label>
                    <label for="carousel-2"></label>
                    <label for="carousel-3"></label>
                    <label for="carousel-4"></label>
                    <label for="carousel-5"></label>
                </div>
                <div class="carousel__next">
                    <label for="carousel-1"></label>
                    <label for="carousel-2"></label>
                    <label for="carousel-3"></label>
                    <label for="carousel-4"></label>
                    <label for="carousel-5"></label>
                </div>
                <div class="carousel__nav">
                    <label for="carousel-1"></label>
                    <label for="carousel-2"></label>
                    <label for="carousel-3"></label>
                    <label for="carousel-4"></label>
                    <label for="carousel-5"></label>
                </div>

            </div>

        </div>

    </div>

    <link href='https://fonts.googleapis.com/css?family=Wire+One|Raleway:300' rel='stylesheet' type='text/css'>


    <div class="arrow-up"></div>
    <div class="colour-block">
        <h1>Responsive Arrow Page Dividers.</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
            sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
    </div>
    <div class="arrow-down"></div>
    <div class="white-block3">
        <div class="wrapper">
            <div class="split-layout">

                <div class="split-layout__item">
                    <div id="wrapper">
                        <a style="text-decoration: none" href="#" class="my-super-cool-btn">
                            <div class="dots-container">
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                            </div>
                            <span style="color: white"> پروژه ها</span>
                        </a>
                    </div>
                </div>

                <div class="split-layout__divider">
                    <div class="split-layout__rule"></div>
                    <div class="split-layout__label"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                    <div class="split-layout__rule"></div>
                </div>

                <div class="split-layout__item">
                    <div id="wrapper">
                        <a style="text-decoration: none" href="#" class="my-super-cool-btn">
                            <div class="dots-container">
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                            </div>
                            <span style="color: white">ثبت پروژه</span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="arrow-up"></div>
    <div class="colour-block">
        <h1>Arrow Pointing Up.</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
            sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
    </div>





{% endblock %}